<html>
    <body>
        <h1>게시글 보기. </h1>
       
        {% if true%}
            <p> 제목 : {{lst[1]}} </p>
            <pre> 내용 : <br>{{lst[2]}} </pre>
            <p> 사진 : {{lst[3]}} </p>
        
            <img src="{{url_for('static',filename=lst[3])}}" width="100" height="100" alt="bb"/>
        {% endif %}
        <button type = "button" class ="navyBtn" onclick="location.href='/editdiary'" >edit</button>
        <button type = "button" class ="navyBtn" onclick="location.href='/rmdiary'" >delete</button>
    </body>
</html>